@model DrugCRUD.Models.MyDrug

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MyDrug</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Drug_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Drug_ID)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Short_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Short_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Long_name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Long_name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Chemical_analysis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Chemical_analysis)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Drug_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
